
/* 
.w  = all width, no restriction, or to be used for 1441px and up 
.lg = large desktop screens 1440px - 1281px\
.md = medium desktop screens 1280px - 1081px
.d  = desktop screens 1080px - 993px
.m  = tablet screens 992px - 768px
.s  = mobile screens 767px -
.xs = mobile screens
*/







@media only screen and (min-width: 768px) {
	.container{max-width: 750px;}
}
@media only screen and (min-width: 992px) { /* desktop 1080px - 993px */
	.container{max-width:980px;}
}
@media only screen and (min-width: 1081px;) { /* large desktop 1440px - 1280px */
	.container{max-width: 1000px;}
}
@media only screen and (min-width: 1200px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1140px;}
}
@media only screen and (min-width: 1441px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1336px;}
}