/*Main css file*/
/* MAIN COLORS

orange = #f97315

*/
/* GLOBAL ELEMENTS */
a{
	text-decoration: none;
	outline: none;
	
}
button, select {
    cursor: pointer;
}
ul{
	list-style-type: none;
	padding: 0;
}
body{
	background: #000;
	font-family: 'Cabin';
	font-size: 16px;
}
.container{max-width: 1336px; margin: 0 auto; padding: 0 15px;}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
/* bs override */
@media only screen and (min-width: 768px) {
	.container{max-width: 750px;}
}
@media only screen and (min-width: 992px) { /* desktop 1080px - 993px */
	.container{max-width:980px;}
}
@media only screen and (min-width: 1081px;) { /* large desktop 1440px - 1280px */
	.container{max-width: 1000px;}
}
@media only screen and (min-width: 1200px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1140px;}
}
@media only screen and (min-width: 1441px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1336px;}
}
/* Header Elements */
.header-sc a{
	color: #fff;
}
.header-sc .menu {
    margin: 0;
    padding: 5px 0;
    margin-top: 50px;
    display: flex;
    text-transform: uppercase;
    font-size: 1.4em;
    justify-content: space-around;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    align-items: center;
}

.header-sc .menu li    {
    display: block;
    float: left;
    line-height: 30px; /* this should be the same as your #main-nav height */
    height: 30px; /* this should be the same as your #main-nav height */
    margin: 0; padding: 0; /* only needed if you don't have a reset */
    position: relative; /* this is needed in order to position sub menus */
}
.header-sc .menu li a  {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
.header-sc .menu .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
	color: #f97315;
}
.header-sc .menu ul { /* this targets all sub menus */
    display: none; /* hide all sub menus from view */
    position: absolute;
    top: 30px; /* this should be the same height as the top level menu -- height + padding + borders */
	z-index: 1;
    background: #000;
}
.header-sc .menu ul li { /* this targets all submenu items */
    float: none; /* overwriting our float up above */
}
.header-sc .menu ul li a { /* target all sub menu item links */
    padding: 5px 10px; /* give our sub menu links a nice button feel */
}
.header-sc .menu li:hover > ul {
    display: block; /* show sub menus when hovering over a parent */
}
.header-sc .astv{
	width: 150px;
    height: 35px;
    display: block;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
	background: url('../icons/astv-logo.png');
}
/*Footer Elements */
.footer-sc {
    padding: 30px 0;
}
.footer-sc a{
	color: #fff;
}
.footer-sc .content-wrap {
	color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
}
.footer-sc .logo-wrap{
	border-bottom: 1px solid #fff;
}
.footer-sc .menu {
    display: flex;
    grid-column: 1 / span 2;
}
.footer-sc .menu li {
    margin-right: 15px;
    font-size: 1.2em;
}
.footer-sc .socmed a {
    align-self: center;
    justify-self: flex-end;
    margin-left: 1em;
}
.footer-sc .socmed {
    border-bottom: 1px solid #fff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.footer-sc .socmed li{
    margin-left: 1.5em;
}
/* others / sitewide */
.reg-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    position: relative;
}
.reg-title:after{
	position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 3px;
    background: #000;
}
/* Front Page Banner */
.annce-slide{
	margin-bottom: 50px;
}
.annce-slide .slick-dots {
    position: absolute;
    top: 0;
    right: 0;
    display: flex !important;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: space-between;
}
.annce-slide .slide-content .img-wrap img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.annce-slide .slide-content .text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
    background: rgb(0 0 0 / 20%);
}
.annce-slide .slide-content .text-wrap img {
    margin: 0 auto;
}
.annce-slide .slide-content .text-wrap p{
    text-transform: uppercase;
    color: #f97315;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

/* ad spots */
.pmtnbar{
	background: url(../images/map-bg.png);
	background-color: #151515;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-position: center;
    background-size: 100%;
    padding: 10px 0;
}
.pmtn-imgs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    max-width: calc(100% - 10px);
    padding: 30px 0;
}
.pmtn-imgs img {
    width: 100%;
    object-fit: cover;
}
.pmtn-imgs .pmtn-link:first-child {
    grid-column: 1 / span 2;
}

/* shop page */
.shop-banner{
	background: #fff;
	padding: 30px 0;
}
.shop-banner a{
	color: #000;
}
.shop-banner .grid-wrap {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
    max-width: calc(100% - 20px);
}
.shop-banner .shop-title {
    margin-top: 0;
}
.shop-banner .menu-wrap {
    grid-row: 1 / span 2;
    background: #f9f9f9;
}
.shop-banner .menu-wrap a.menu-btn {
    background: #000;
    display: block;
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    position: relative;
    border-radius: 7px 7px 0 0;
}
.shop-banner .menu-wrap a.menu-btn:before{
	content: '';
	position: absolute;
	width: 20px;
	height: 1.5em;
	display: block;
	background-size: contain;
	background-repeat: no-repeat !important;
	background: url('../images/menubar.png');
}
.shop-banner .menu a {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #d6d6d6;
}
.shop-banner .menu li:last-child a {
    border-bottom: none;
}
.shop-banner .search-form {
    position: relative;
}
.shop-banner .search-field {
    width: 100%;
    font-size: 1.3em;
    padding: 10px 0;
    position: relative;
}
.shop-banner .search-submit {
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    background: #000;
    color: #fff;
}
.shop-slide{
	background: #f9f9f9;
	padding: 20px;
}
.shop-slide .prod-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    outline: none;
    align-items: center;
}
.shop-slide .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
}
.shop-slide .image-wrap {
    position: relative;
}
.shop-slide .image-wrap img{
	position: relative;
    z-index: 2;
}
.shop-slide .image-wrap:after {
    content: '';
    position: absolute;
    left: -50px;
    width: 130%;
    height: 130%;
    top: -10%;
    border-radius: 100%;
    background: #e5e5e5;
    z-index: 1;
}
.shop-slide .text-wrap .last-word {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
}
.shop-slide .text-wrap a {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.shop-slide .text-wrap a:after{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
    height: 3px;
    background: #000;
    text-transform: uppercase;
}
.shop-slide .text-wrap a:hover:after{
	width: 100%;
}
.products-sc {
    background: #fff;
    padding: 30px 0;
}
.products-sc .wps-component-products-description {
    display: none;
}

/* wps overrides */
.wps-product-individual-price{
	color: #f97315;
}

/* collection page */
.collection-banner{
	padding: 50px 0;
    background: #fff;
    position: relative;
}
.collection-banner .container:after{
	position: absolute;
    background: #f97315;
    content: '';
    width: 40%;
    height: 100%;
    z-index: 2;
    right: 0;
    top: 0;
}
.collection-banner .wps-collection-title {
    color: #f97315;
    font-size: 2.5em;
    text-align: right;
    padding: 0 15px;
    text-shadow: 1px 2px #000;
}
.collection-banner .wps-collections-description {
    padding: 0 15px;
}
.banner-wrap{
	display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 3fr);
    max-width: 768px;
    margin: 0 auto;
    z-index: 3;
    background: #fff;
    box-shadow: -3px 18px 23px rgb(0 0 0 / 52%);
    position: relative;
}
.collections-sc {
    background: #fff;
    padding: 30px 0;
}
div#image-cont {
    grid-row: 1 / span 3;
}

/* single product page */
/* tweaked the template page directly since it is not working if copied (needs to have a pro license) */
.single-prod-sc{
	background: #fff;
	padding: 30px 0;
}
.single-prod-sc .wps-product-individual-price{
	color: #f97315;
}
.product-grid{
display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    max-width: calc(100% - 30px);
}
#product_gallery{
	grid-row: 1 / span 5;
}
.single-prod-banner {
    padding: 30px 0;
    background: #fff;
    text-align: center;
    position: relative;
}
.single-prod-banner:before,
.single-prod-banner:after{
	content: '';
	position: absolute;
	background: #f97315;
	top: 0;
	width: 40%;
	height: 100%;
	display: block;
}
.single-prod-banner:before{
	left: 0;
}
.single-prod-banner:after{
	right: 0;
}
#product_title{
	font-size: 3em;
	position: relative;
}