/*Main css file*/

/* GLOBAL ELEMENTS */
a{
	text-decoration: none;
	
}
ul{
	list-style-type: none;
	padding: 0;
}
body{
	background: #000;
}
.container{max-width: 1336px; margin: 0 auto; padding: 0 15px;}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
/* bs override */
@media only screen and (min-width: 768px) {
	.container{max-width: 750px;}
}
@media only screen and (min-width: 992px) { /* desktop 1080px - 993px */
	.container{max-width:980px;}
}
@media only screen and (min-width: 1081px;) { /* large desktop 1440px - 1280px */
	.container{max-width: 1000px;}
}
@media only screen and (min-width: 1200px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1140px;}
}
@media only screen and (min-width: 1441px) { /* large desktop 1440px - 1280px */
	.container{max-width: 1336px;}
}
/* Header Elements */

/*Footer Elements */