

@media only screen and (min-width: 576px) {
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 540px;
	}
}
@media only screen and (min-width: 768px) {
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 750px;
	}
}
@media only screen and (min-width: 992px) { /* desktop 1080px - 993px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 980px;
	}
}
@media only screen and (min-width: 1081px;) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1000px;
	}
}
@media only screen and (min-width: 1200px) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1140px;
	}
	.annce-slide .slide-content .img-wrap img {
	    height: 679px;
	}
}
@media only screen and (min-width: 1441px) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1336px;
	}
}
@media only screen and (max-width: 1080px) {
	.cardslides .card-cat{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.pmtn-imgs img {
	    height: 100px;
	}
}
@media only screen and (max-width: 992px) {
	.astv{
		width: 80px;
	}
	.annce-slide .slick-arrow {
	    font-size: 12px;
	    z-index: 2;
	    height: 55px;
    	width: 55px;
    	position: absolute;
    	top: 50%;
    	font-size: 20px;
    	line-height: 0;
    	background: none;
    	font-size: 0;
	}
	.annce-slide .slick-arrow:before{
		position: absolute;
		content: '';
		width: 25px;
		height: 25px;
		background: #fff;
		z-index: 1;
		border-radius: 100px;
	}
	.annce-slide .slick-arrow i{
		z-index: 2;
		font-size: 16px;
	}
	.annce-slide .slick-arrow:after,
	.annce-slide .slick-arrow:after{
		width: 35px;
		height: 35px;
		left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 8px;
	}
	.footer-sc .menu {
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	}
	.footer-sc .menu li{
		margin-right: 0;
	}
	.footer-sc .copyright {
	    text-align: center;
	    -ms-grid-column-span: 2;
	    grid-column: span 2;
	}
	.fpage-banner{
		margin-top: 30px;
	}
	.header-sc{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.shop-banner .grid-wrap{
		-ms-grid-columns: 50% 50%;
		grid-template-columns: 50% 50%;
	}
	.shop-banner .grid-wrap .menu-wrap{
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1 / span 1;
		position: relative;
	}
	.shop-banner .grid-wrap .shop-slide{
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / span 2;
	}
	.shop .menu{
		display: none;
	}
	.shop .menu.show{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		z-index: 10;
		background: #000;
		width: 100%;
		height: 100%;
		-ms-flex-item-align: center;
		    align-self: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		margin: 0;
	}
	.shop-banner .menu a{
		color: #fff;
		border-bottom: none;
	}

}
@media only screen and (max-width: 768px) {
	.annce-slide{
		margin-bottom: 0;
	}
	.annce-slide .slide-content .text-wrap img {
	    width: 60%;
	}
	.banner-shop{
		padding: 20px 0;
	}
	.fpage-banner{
		margin: 30px 0;
	}
}

@media only screen and (max-width: 767px) {
	.banner-wrap {
	    -ms-grid-rows: auto;
	    grid-template-rows: auto;
	}

	.shop-banner .grid-wrap .menu-wrap {
	    -ms-grid-row: 2;
	    -ms-grid-row-span: 1;
	    grid-row: 2 / span 1;
	    -ms-grid-column: 1;
	    -ms-grid-column-span: 2;
	    grid-column: 1 / span 2;

	}
	
	.shop-banner .grid-wrap .search-form {
	    -ms-grid-column: 1;
	    -ms-grid-column-span: 2;
	    grid-column: 1 / span 2;
	}
	.shop-slide .prod-wrap {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-flow: column wrap;
	            flex-flow: column wrap;
	}
	.shop-slide .text-wrap {
	    -webkit-box-ordinal-group: 3;
	        -ms-flex-order: 2;
	            order: 2;
	    width: 100%;
	    text-align: center;
	    background: #e5e5e5;
	    z-index: 3;
	    padding: 30px 0;
	}
	.shop-slide .image-wrap{
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

}
@media only screen and (max-width: 650px) {
	.banner-wrap{
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}
	.banner-wrap .wps-component-collection-image {
	    margin: 0 auto;
	}
	.banner-wrap .wps-collection-title {
	    text-align: center;
	    padding: 0;
	    margin: 0;
	}
	.collection-banner .container:after {
	    bottom: 0;
	    left: 0;
	    height: 50%;
	    top: unset;
	    width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.cardslider{
		padding: 0;
	}
	.cardslider .slick-slide {
	    -webkit-transform: scale(0.85);
	        -ms-transform: scale(0.85);
	            transform: scale(0.85);
	    -webkit-transition: ease .3s;
	    -o-transition: ease .3s;
	    transition: ease .3s;
	        margin: 0;
	}
	.cardslider .slick-current{
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: ease .3s;
		-o-transition: ease .3s;
		transition: ease .3s;
		    margin: 0;
	}
	.pmtn-imgs img {
	    height: 90px;
	}
	.pmtn-imgs .pmtn-link {
	    -ms-grid-column-span: 2;
	    grid-column: span 2;
	}
	.pmtn-link {
    	border: 6px solid #333333;
	}
	.pmtn-link:nth-child(2) {
    	border-bottom: 3px solid #333333;
	}
	.pmtn-link:nth-child(3) {
	    border-top: 3px solid #333333;
	}
	#product_gallery,
	#product_description,
	#product_pricing,
	#product_buy_button {
	    -ms-grid-column: 1;
	    -ms-grid-column-span: 2;
	    grid-column: 1 / span 2;
	}
}
@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 480px) {

}