@media only screen and (min-width: 576px) {
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 540px;
	}
}
@media only screen and (min-width: 768px) {
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 750px;
	}
}
@media only screen and (min-width: 992px) { /* desktop 1080px - 993px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 980px;
	}
}
@media only screen and (min-width: 1081px;) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1000px;
	}
}
@media only screen and (min-width: 1200px) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1140px;
	}
}
@media only screen and (min-width: 1441px) { /* large desktop 1440px - 1280px */
	.single-wps_products .wps-product-single,
	.wps-collection-single.row{
		max-width: 1336px;
	}
}

@media only screen and (max-width: 1080px) {
	.cardslides .card-cat{
		padding-left: 10px;
		padding-right: 10px;
	}
	.annce-slide .slide-content .img-wrap img {
	    height: 500px;
	}
	.pmtn-imgs img {
	    height: 100px;
	}
}
@media only screen and (max-width: 992px) {
	.astv{
		width: 80px;
	}
	.annce-slide button {
	    font-size: 12px;
	    z-index: 2;
	    height: 25px;
    	width: 25px;
    	position: absolute;
    	top: 50%;
    	font-size: 20px;
    	line-height: 0;
	}
	.annce-slide button:after,
	.annce-slide button:after{
		width: 45px;
		height: 45px;
	}
	.annce-slide .slick-next {
	    right: 0;
	}
	.annce-slide .slide-content .img-wrap img {
	    height: 400px;
	}
	.footer-sc .menu {
	    justify-content: space-around;
	}
	.footer-sc .menu li{
		margin-right: 0;
	}
	.footer-sc .copyright {
	    text-align: center;
	    grid-column: span 2;
	}
	.fpage-banner{
		margin-top: 30px;
	}
	.shop-banner .grid-wrap{
		grid-template-columns: 50% 50%;
	}
	.shop-banner .grid-wrap .menu-wrap{
		grid-row: 1 / span 1;
	}
	.shop-banner .grid-wrap .shop-slide{
		grid-column: 1 / span 2;
	}
	.shop .menu{
		display: none;
	}
	.shop .menu.show{
		display: flex;
		position: absolute;
		left: 0
		top: 0;
		z-index: 10;
		background: #000;
		width: 100%;
		height: 100%;
		align-self: center;
	}

}
@media only screen and (max-width: 768px) {
	.annce-slide{
		margin-bottom: 0;
	}
	.annce-slide .slide-content .img-wrap img {
	    height: 350px;
	}
	.banner-shop{
		padding: 20px 0;
	}
	.banner-wrap {
	    grid-template-rows: 2fr;
	}
	.fpage-banner{
		margin: 30px 0;
	}
}

@media only screen and (max-width: 767px) {
	.footer-sc .menu {
	    flex-flow: column wrap;
	    text-align: center;
	}
	.shop-banner .grid-wrap .menu-wrap {
	    grid-row: 2 / span 1;
	    grid-column: 1 / span 2;
	}
	.shop-banner .grid-wrap .search-form {
	    grid-column: 1 / span 2;
	}
	.shop-slide .prod-wrap {
	    flex-flow: column wrap;
	}
	.shop-slide .text-wrap {
	    order: 2;
	    width: 100%;
	    text-align: center;
	    background: #e5e5e5;
	    z-index: 3;
	    padding: 30px 0;
	}
	.shop-slide .image-wrap{
		order: 1;
	}

}
@media only screen and (max-width: 600px) {
	.annce-slide .slide-content .img-wrap img {
	    height: 300px;
	}
	.cardslider{
		padding: 0;
	}
	.cardslider .slick-slide {
	    transform: scale(0.85);
	    transition: ease .3s;
	        margin: 0;
	}
	.cardslider .slick-current{
		transform: scale(1);
		transition: ease .3s;
		    margin: 0;
	}
	.pmtn-imgs img {
	    height: 90px;
	}
	.pmtn-imgs .pmtn-link {
	    grid-column: span 2;
	}
}
@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 480px) {

}